.search-recipe-view {

    &__title {
        margin-top: 20px;
        font-size: 32px;
    }

    &__searchInputSection {
        margin-top: 20px;
    }

    &__input-label {
        margin-right: 10px;
    };

    &__input {
        margin-right: 10px;
    }

    &__results-container {
        width: 80%;
        padding: 20px 0;
        margin: 20px auto;
    }
}