.home-view {

    &__title {
        margin-top: 20px;
        font-size: 32px;
    }

    &__options-section {
        margin: 80px auto;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: center;
        gap: 80px;
    }

    &__option-title {
        h2 {
            font-size: 28px;
        }
    }

    &__option-description {
        p {
            font-size: 20px;
        }
    }
}